apiVersion: apps/v1
kind: Deployment
metadata:
  name: mydeploy
  labels:
    app: myapp
spec:
  replicas: 3
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: blinkit
  template:
    metadata:
      name: mypod
      labels:
        app: blinkit
    spec:
      containers:
        - name: mycont
          image: nginx
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: mydeploysvc
spec:
  selector:
    app: blinkit
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
